---
import { Image } from "astro:assets";
import muestra_dientes_2 from "~/assets/muestra_diente_2.jpg"; // Imagen representativa para cada punto
import durabilidadResistencia from "~/assets/durabilidad_resistencia.png";
import optimizacionTiempo from "~/assets/optimizacion_tiempo.png";
import menorSensibilidad from "~/assets/menor_sensibilidad.png";
import solucionesPersonalizadas from "~/assets/soluciones_personalizadas.png";
import valorPercepcion from "~/assets/valor_percepcion.png";
import { benefits } from "~/content/generalDataInformation";
---

<section class="bg-gray-100 py-12 px-6 md:px-12">
  <h2 class="text-navy text-center font-extrabold text-2xl mb-10">Resultados y Beneficios de las Carillas Indirectas</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Punto 1 -->
    {
      benefits.map(({ title, text, image }, index) => (
        <div class="bg-white p-4 rounded-md shadow-md flex flex-col items-center text-center max-w-xs mx-auto hover:bg-opacity-90">
          <Image src={image} alt={title} class="w-8 h-16 object-cover rounded-md mb-3" />
          <h3 class="text-gold font-semibold text-sm mb-1">{title}</h3>
          <p class="text-gray-700 text-xs">{text}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  /* Animación y efectos */
  .bg-white {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .bg-white:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
</style>