---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import { bannerInformation } from "~/content/generalDataInformation";

const features: Array<FeatureItem> = [
  {
    title: "Confianza y seguridad",
    description:
      "Tener confianza y seguridad para trabajar con carillas de resina indirecta.",
    icon: "mdi:tooth-outline",
  },
  {
    title: "Dominar la técnica",
    description:
      "Dominar la técnica para construir carillas naturales y de calidad superior.",
    icon: "mdi:tooth-outline",
  },
  {
    title: "Destacar en su entorno laboral",
    description:
      "Destacar en su entorno laboral con una base de pacientes felices que recomienden su trabajo.",
    icon: "mdi:tooth-outline",
  },
  {
    title: "Ofrecer una mejor odontología",
    description:
      "Ofrecer una mejor odontología estética y restauradora, manteniendo el compromiso con la salud de los pacientes.",
    icon: "mdi:tooth-outline",
  },
  {
    title: "Abrir su propia clínica",
    description:
      "Dar el primer paso para abrir su propia clínica especializada en estética dental.",
    icon: "mdi:tooth-outline",
  },
  {
    title: "Trabajar de forma inteligente",
    description:
      "Trabajar de forma inteligente, logrando metas financieras a través de las carillas de resina indirecta.",
    icon: "mdi:tooth-outline",
  },
];
---

<ContentSection title="" id="features">
  <h1 class="text-navy text-center font-extrabold tracking-tight text-4xl animate-fadeIn">
    Carillas indirectas:
  </h1>
  <br>
  <h2 class="text-navy text-center font-extrabold text-2xl animate-fadeIn delay-200">
    Técnica MO <span class="text-gold"> es para quien desea...</span>
  </h2>
  <ul class="grid max-w-6xl gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 my-10">
    {
      features.map(({ title, description, icon }, index) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 transition-all duration-500 ease-in-out transform hover:scale-105 hover:border-gold hover:shadow-lg animate-slideUp delay-{index * 100}">
          <div class="size-16 rounded-full border-2 p-3 transition-all duration-500 ease-in-out border-gold hover:border-gold hover:shadow-[0_0_10px_rgba(212,175,55,0.5)]">
            <Icon name={icon} class="size-full text-gold" />
          </div>
          <p class="text-center font-extrabold text-xl text-navy">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
  <div class="  text-white mt-2 py-1 px-10 animate-fadeIn delay-600">
    <a href={bannerInformation.buttonLink} target="_blank"
       class="w- align-middle text-center px-10 py-5 bg-gold text-white font-semibold rounded-md hover:bg-goldDark hover:text-white transition-colors transform hover:scale-105 relative overflow-hidden z-10 shadow-md hover:shadow-lg flex items-center justify-center"
    >
      Haz clic aquí para acceder al curso
    </a>
  </div>
  <p class="text-xs bg-black text-white mt-2 py-1 px-1 animate-fadeIn delay-600">
    acceso inmediato, completo y seguro
  </p>
</ContentSection>

<style>
  /* Animación de aparición */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-in forwards;
  }

  /* Animación de deslizamiento */
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slideUp {
    animation: slideUp 1s ease-in forwards;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }

  .delay-400 {
    animation-delay: 0.4s;
  }

  .delay-600 {
    animation-delay: 0.6s;
  }
</style>