---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
---

<footer class="relative bg-gray-900 text-white py-10">
  <!-- Fondo hero opcional -->
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>

  <!-- Contenido del footer -->
  <div class="relative z-10 flex flex-col items-center space-y-6">
    <!-- Nombre de MO -->
    <h2 class="text-2xl font-bold tracking-wide text-white">
      Técnica MO
    </h2>

    <!-- Redes Sociales -->
    <div class="flex space-x-4">
      <a href="https://www.instagram.com/melissaodontologa" target="_blank" rel="noopener noreferrer" class="text-white  transition">
        <Icon name="mdi:instagram" class="w-8 h-8" />
      </a>
    </div>

    <!-- Texto Legal o Contacto -->
    <p class="text-sm text-gray-300 text-center align-middle">
      © 2024 Técnica MO. Todos los derechos reservados.
    </p>
  </div>
</footer>